* {
	margin: 0;
	padding: 0;
	font-family: 'Alice';
	color: rgba(0, 0, 0, 0.8);
	color: rgb(240, 240, 240);
}

body {
	background-color: rgb(28, 27, 41);
}

.TextBlock {
	width: 803px;
	height: calc(100vh - 160px);
	font-size: 24px;
	text-align: justify;
	line-height: 32px;
	margin: auto;
	outline: none;
	white-space: pre-wrap;
	tab-size: 3;
	transform: translateY(160px);
	z-index: 1;
}

[contenteditable]:empty:before {
	content: attr(data-placeholder);
	color: grey;
	display: inline-block;
	cursor: text;
}

[contenteditable]:empty:focus:before {
	content: "";
}

.TextBlock div {
	margin-bottom: 20px;
}

h1 {
	font-size: 3.5vh;
	text-align: center;
}

header {
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	transform: translateY(10px);
	transition-duration: 0.2s;
	z-index: 2;
}

.FormattingPanel {
	width: 570px;
	left: calc(50% - 285px);
	float: left;
	display: none;
	position: absolute;
}

.Files {
	background-image: url(icons/files-light.svg);
	background-size: 22px;
	display: none;
	float: left;
}

.Save {
	background-image: url(icons/save-light.svg);
	background-size: 24px;
	display: none;
	float: left;
}

.Text-Title {
	background-image: url(icons/text-title-light.svg);
	background-size: 20px;
}

.Type-Bold {
	background-image: url(icons/type-bold-light.svg);
	background-size: 44px;
}

.Type-Italic {
	background-image: url(icons/type-italic-light.svg);
	background-size: 44px;
}

.Type-Underline {
	background-image: url(icons/type-underline-light.svg);
	background-size: 44px;
}

.Type-Strikethrough {
	background-image: url(icons/type-strikethrough-light.svg);
	background-size: 44px;
}

.Text-Left {
	background-image: url(icons/text-left-light.svg);
	background-size: 20px;
}

.Text-Center {
	background-image: url(icons/text-center-light.svg);
	background-size: 20px;
}

.Text-Right {
	background-image: url(icons/text-right-light.svg);
	background-size: 20px;
}

.Text-Justify {
	background-image: url(icons/text-justify-light.svg);
	background-size: 20px;
}

.List-Ul {
	background-image: url(icons/list-ul-light.svg);
	background-size: 24px;
}

.List-Ol {
	background-image: url(icons/list-ol-light.svg);
	background-size: 24px;
}

.Text-Indent-Left {
	background-image: url(icons/text-indent-left-light.svg);
	background-size: 20px;
}

.Text-Indent-Right {
	background-image: url(icons/text-indent-right-light.svg);
	background-size: 20px;
}

.Site-Theme {
	background-image: url(icons/moon.svg);
	background-size: 20px;
	float: right;
}

button {
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
}

button:hover {
	background-color: rgb(71, 70, 95);
	cursor: pointer;
}

button:active {
	background-color: rgb(86, 85, 110);
}

.DocumentsPanel {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(35, 32, 46);
	position: absolute;
	z-index: 1;
	transition-duration: 0.2s;
}

.Documents-Panel-Header {
	width: 100%;
	height: 40px;
	position: absolute;
}

h2 {
	font-size: 32px;
	text-align: center;
	font-weight: normal;
	margin-top: 25px;
}

.Export {
	background-image: url(icons/export-light.svg);
	background-size: 26px;
	float: left;
}

.Import {
	background-image: url(icons/import-light.svg);
	background-size: 26px;
	float: left;
}

.Documents {
	width: 100%;
	margin-top: 50px;
}

.Document {
	width: calc(18vw - 2px - 2.5px);
	height: calc(18vw * 1.4);
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 3.5vw;
	margin-right: 3.5vw;
	background-color: rgb(28, 27, 41);
	outline: none;
	display: inline-block;
	float: left;
}

.DivButton {
	cursor: pointer;
	border: 1px solid rgb(215, 215, 215);
}

.DivButton:hover {
	background-color: rgb(51, 50, 75);
}

.DivButton:active {
	background-color: rgb(66, 65, 90);
}

.Document input {
	width: calc(100% - 2vw);
	height: calc(18vw * 1.4 - 50px);
	background-color: rgb(28, 27, 41);
	font-size: 16px;
	text-align: center;
	padding-left: 1vw;
	padding-right: 1vw;
	outline: none;
	border: none;
	text-overflow: ellipsis;
	float: left;
}

.Document button {
	width: 100%;
	height: 50px;
	float: left;
}

.Document-Rename {
	background-image: url(icons/pen.svg);
	background-size: 20px;
	background-color: rgb(28, 27, 41);
}

.Document-Delete {
	background-image: url(icons/trash-light.svg);
	background-size: 20px;
	background-color: rgb(28, 27, 41);
}

.WriteInput {
	cursor: text;
	background-color: rgb(51, 50, 75) !important;
}

.NewDocument {
	width: calc(18vw - 2px - 2.5px);
	height: calc(18vw * 1.4);
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 3.5vw;
	margin-right: 3.5vw;
	background-color: rgb(28, 27, 41);
	background-image: url(icons/plus-light.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	font-size: 18px;
	float: left;
}

.Statistics {
	right: 0;
	bottom: 10px;
	position: fixed;
	background-image: url(icons/statistics-light.svg);
	background-size: 20px;
}

.Statistics-Panel {
	position: fixed;
	right: 0;
	bottom: 50px;
	margin-bottom: 10px;
	padding: 10px;
	padding-bottom: 0px;
	border: 1px solid rgb(215, 215, 215);
	border-right: none;
	display: none;
}

.Statistics-Panel p {
	padding-bottom: 15px;
}

@media screen and (max-device-width: 800px)
{
	.TextBlock {
		font-size: 36px;
	}

	h1 {
		font-size: 48px;
	}

	header {
		height: 50px;
	}

	.FormattingPanel {
		width: 700px;
		left: calc(50% - 350px);
	}

	.Files {
		background-size: 28px;
	}

	.Save {
		background-size: 30px;
	}

	.Text-Title {
		background-size: 26px;
	}

	.Type-Bold {
		background-size: 54px;
	}

	.Type-Italic {
		background-size: 54px;
	}

	.Type-Underline {
		background-size: 54px;
	}

	.Type-Strikethrough {
		background-size: 54px;
	}

	.Text-Left {
		background-size: 28px;
	}

	.Text-Center {
		background-size: 28px;
	}

	.Text-Right {
		background-size: 28px;
	}

	.Text-Justify {
		background-size: 28px;
	}

	.List-Ul {
		background-size: 32px;
	}

	.List-Ol {
		background-size: 32px;
	}

	.Text-Indent-Left {
		background-size: 28px;
	}

	.Text-Indent-Right {
		background-size: 28px;
	}

	.Site-Theme {
		background-size: 30px;
	}

	button {
		width: 50px;
		height: 50px;
	}

	.DocumentsPanel {
		width: 100%;
		min-height: 100vh;
	}

	.Documents-Panel-Header {
		border: none;
	}

	h2 {
		font-size: 48px;
		transform: translateY(-10px);
	}

	.Export {
		background-size: 36px;
	}

	.Import {
		background-size: 38px;
	}

	.Document {
		width: calc(40vw - 2px - 5px);
		height: calc(40vw * 1.4);
		margin-left: 5vw;
		margin-right: 5vw;
	}

	.Document input {
		width: calc(100% - 2vw);
		height: calc(40vw * 1.4 - 60px);
		font-size: 32px;
	}

	.Document button {
		width: 100%;
		height: 60px;
	}

	.Document-Delete {
		background-size: 28px;
	}

	.NewDocument {
		width: calc(40vw - 2px - 5px);
		height: calc(40vw * 1.4);
		margin-left: 5vw;
		margin-right: 5vw;
		background-size: 24px;
	}
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}